html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}
/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  text-align: left;
  caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e09d;
    border-radius: 3px;
}

:root {
    --semi-white: 255, 255, 255;
    --semi-border-radius-small: 6px;
    --semi-transition_duration-none: 0s;
    --semi-transition_function-easeIn: ease-in;
    --semi-transition_delay-none: 0s;
  
  }
  
  :root[data-theme='dark'] {
    
    --main-logo-color: #00aaff;
    --semi-blue-0: 5, 49, 112;
    --semi-blue-1: 10, 70, 148;
    --semi-blue-2: 19, 92, 184;
    --semi-blue-3: 29, 117, 219;
    --semi-blue-4: 41, 144, 255;
    --semi-blue-5: 84, 169, 255;
    --semi-blue-6: 127, 193, 255;
    --semi-blue-7: 169, 215, 255;
    --semi-blue-8: 212, 236, 255;
    --semi-blue-9: 239, 248, 255;
    --semi-grey-0: 28, 31, 35;
    --semi-grey-1: 46, 50, 56;
    --semi-grey-2: 65, 70, 76;
    --semi-grey-3: 85, 91, 97;
    --semi-grey-4: 107, 112, 117;
    --semi-grey-5: 136, 141, 146;
    --semi-grey-6: 167, 171, 176;
    --semi-grey-7: 198, 202, 205;
    --semi-grey-8: 230, 232, 234;
    --semi-grey-9: 249, 249, 249;
    --semi-color-bg-0: #16161a;
    --semi-color-bg-1: #232429;
    --semi-color-bg-2: #35363c;
    --semi-color-bg-3: #43444a;
    --semi-color-bg-4: #1b1d1fa6;
    --semi-color-bg-main: #1B1D1F;
    --semi-color-text-0: rgba(var(--semi-grey-0), 1);
    --semi-color-text-2: rgba(var(--semi-grey-0), .62);
    --semi-color-primary-light-default: rgba(var(--semi-blue-9), 1);
    --semi-color-primary: rgba(var(--semi-blue-5), 1);
    --semi-color-primary-hover: rgba(var(--semi-blue-6), 1);
    --semi-color-primary-active: rgba(var(--semi-blue-7), 1);
    --semi-color-primary-disabled: rgba(var(--semi-blue-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-blue-5), .2);
    --semi-color-primary-light-hover: rgba(var(--semi-blue-5), .3);
    --semi-color-primary-light-active: rgba(var(--semi-blue-5), .4);
    --semi-color-focus-border: rgba(var(--semi-blue-5), 1);
    --semi-color-fill-0: rgba(var(--semi-white), .12);
    --semi-color-fill-1: rgba(var(--semi-white), .16);
    --semi-color-fill-2: rgba(var(--semi-white), .20);
    --semi-color-border: rgba(var(--semi-white), .0);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-1: rgba(var(--semi-grey-9), .8);
    --semi-color-text-2: rgba(var(--semi-grey-9), .6);
    --semi-color-text-3: rgba(var(--semi-grey-9), .35);
    --semi-hottiem-bg-0: rgba(var(--semi-grey-1), 1);
    --semi-hottiem-bg-1: #ea444d;
    --semi-hottiem-bg-2: #ed702d;
    --semi-hottiem-bg-3: #eead3f;
    --semi-edit-1: #454545;
  }
  
  :root[data-theme='light'] {
    --main-logo-color: #4D6BFE;
    --semi-blue-0: 234, 245, 255;
    --semi-blue-1: 203, 231, 254;
    --semi-blue-2: 152, 205, 253;
    --semi-blue-3: 101, 178, 252;
    --semi-blue-4: 50, 149, 251;
    --semi-blue-5: 77,107,254;
    --semi-blue-6: 0, 98, 214;
    --semi-blue-7: 0, 79, 179;
    --semi-blue-8: 0, 61, 143;
    --semi-blue-9: 0, 44, 107;
    --semi-grey-0: 249, 249, 249;
    --semi-grey-1: 230, 232, 234;
    --semi-grey-2: 198, 202, 205;
    --semi-grey-3: 167, 171, 176;
    --semi-grey-4: 136, 141, 146;
    --semi-grey-5: 107, 112, 117;
    --semi-grey-6: 85, 91, 97;
    --semi-grey-7: 65, 70, 76;
    --semi-grey-8: 46, 50, 56;
    --semi-grey-9: 28, 31, 35;
    --semi-color-bg-0: rgba(var(--semi-white), 1);
    --semi-color-bg-1: rgba(var(--semi-white), .9);
    --semi-color-bg-2: rgba(var(--semi-white), .8);
    --semi-color-bg-3: #f5f5f5;
    --semi-color-bg-4: #ffffffcc;
    --semi-color-bg-main: #F1F5F8;
    --semi-color-nav-bg: rgba(var(--semi-white), 1);
    --semi-color-border: rgba(var(--semi-grey-9), .08);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-2: rgba(var(--semi-grey-9), .62);
    --semi-color-fill-0: rgba(var(--semi-grey-8), .05);
    --semi-color-primary: rgba(var(--semi-blue-5), 1);
    --semi-color-primary-hover: rgba(var(--semi-blue-6), 1);
    --semi-color-primary-active: rgba(var(--semi-blue-7), 1);
    --semi-color-primary-disabled: rgba(var(--semi-blue-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-blue-0), 1);
    --semi-color-primary-light-hover: rgba(var(--semi-blue-1), 1);
    --semi-color-primary-light-active: rgba(var(--semi-blue-2), 1);
    --semi-color-focus-border: rgba(var(--semi-blue-5), 1);
    --semi-color-border: rgba(var(--semi-grey-9), .08);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-1: rgba(var(--semi-grey-9), .8);
    --semi-color-text-2: rgba(var(--semi-grey-9), .62);
    --semi-color-text-3: rgba(var(--semi-grey-9), .35);
    --semi-hottiem-bg-0: #efeff5;
    --semi-hottiem-bg-1: #ea444d;
    --semi-hottiem-bg-2: #ed702d;
    --semi-hottiem-bg-3: #eead3f;
    --semi-edit-1: #fff;
  }
  
  body {
    background-color: var(--semi-color-bg-0);
    font-family: 'CustomFontName',sans-serif !important;
  }



@font-face {
    font-family: 'CustomFontName';
    src: url('https://cdn.iceooh.com/DDjinbuti.woff2') format('woff2');
    font-display: swap;
}

