html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #1677ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e09d;
    border-radius: 3px;
}

:root {
    --semi-white: 255, 255, 255;
    --semi-border-radius-small: 3px;
    --semi-transition_duration-none: 0s;
    --semi-transition_function-easeIn: ease-in;
    --semi-transition_delay-none: 0s;
  
  }
  
  :root[data-theme='dark'] {
    
    --semi-blue-0: 5, 49, 112;
    --semi-blue-1: 10, 70, 148;
    --semi-blue-2: 19, 92, 184;
    --semi-blue-3: 29, 117, 219;
    --semi-blue-4: 41, 144, 255;
    --semi-blue-5: 84, 169, 255;
    --semi-blue-6: 127, 193, 255;
    --semi-blue-7: 169, 215, 255;
    --semi-blue-8: 212, 236, 255;
    --semi-blue-9: 239, 248, 255;
    --semi-grey-0: 28, 31, 35;
    --semi-grey-1: 46, 50, 56;
    --semi-grey-2: 65, 70, 76;
    --semi-grey-3: 85, 91, 97;
    --semi-grey-4: 107, 112, 117;
    --semi-grey-5: 136, 141, 146;
    --semi-grey-6: 167, 171, 176;
    --semi-grey-7: 198, 202, 205;
    --semi-grey-8: 230, 232, 234;
    --semi-grey-9: 249, 249, 249;
    --semi-color-bg-0: #16161a;
    --semi-color-bg-1: #232429;
    --semi-color-bg-2: #35363c;
    --semi-color-bg-3: #43444a;
    --semi-color-bg-main: #0A0A05;
    --semi-color-text-0: rgba(var(--semi-grey-0), 1);
    --semi-color-text-2: rgba(var(--semi-grey-0), .62);
    --semi-color-primary-light-default: rgba(var(--semi-blue-9), 1);
    --semi-color-primary: rgba(var(--semi-blue-5), 1);
    --semi-color-primary-hover: rgba(var(--semi-blue-6), 1);
    --semi-color-primary-active: rgba(var(--semi-blue-7), 1);
    --semi-color-primary-disabled: rgba(var(--semi-blue-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-blue-5), .2);
    --semi-color-primary-light-hover: rgba(var(--semi-blue-5), .3);
    --semi-color-primary-light-active: rgba(var(--semi-blue-5), .4);
    --semi-color-focus-border: rgba(var(--semi-blue-5), 1);
    --semi-color-fill-0: rgba(var(--semi-white), .12);
    --semi-color-fill-1: rgba(var(--semi-white), .16);
    --semi-color-fill-2: rgba(var(--semi-white), .20);
    --semi-color-border: rgba(var(--semi-white), .0);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-1: rgba(var(--semi-grey-9), .8);
    --semi-color-text-2: rgba(var(--semi-grey-9), .6);
    --semi-color-text-3: rgba(var(--semi-grey-9), .35);
    --semi-hottiem-bg-0: rgba(var(--semi-grey-1), 1);
    --semi-hottiem-bg-1: #ea444d;
    --semi-hottiem-bg-2: #ed702d;
    --semi-hottiem-bg-3: #eead3f;
    --semi-edit-1: #454545;
  }
  
  :root[data-theme='light'] {
    --semi-blue-0: 234, 245, 255;
    --semi-blue-1: 203, 231, 254;
    --semi-blue-2: 152, 205, 253;
    --semi-blue-3: 101, 178, 252;
    --semi-blue-4: 50, 149, 251;
    --semi-blue-5: 51,152,255;
    --semi-blue-6: 0, 98, 214;
    --semi-blue-7: 0, 79, 179;
    --semi-blue-8: 0, 61, 143;
    --semi-blue-9: 0, 44, 107;
    --semi-grey-0: 249, 249, 249;
    --semi-grey-1: 230, 232, 234;
    --semi-grey-2: 198, 202, 205;
    --semi-grey-3: 167, 171, 176;
    --semi-grey-4: 136, 141, 146;
    --semi-grey-5: 107, 112, 117;
    --semi-grey-6: 85, 91, 97;
    --semi-grey-7: 65, 70, 76;
    --semi-grey-8: 46, 50, 56;
    --semi-grey-9: 28, 31, 35;
    --semi-color-bg-0: rgba(var(--semi-white), 1);
    --semi-color-bg-1: rgba(var(--semi-white), .9);
    --semi-color-bg-2: rgba(var(--semi-white), .8);
    --semi-color-bg-3: #f5f5f5;
    --semi-color-bg-main: #F1F5F8;
    --semi-color-nav-bg: rgba(var(--semi-white), 1);
    --semi-color-border: rgba(var(--semi-grey-9), .08);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-2: rgba(var(--semi-grey-9), .62);
    --semi-color-fill-0: rgba(var(--semi-grey-8), .05);
    --semi-color-primary: rgba(var(--semi-blue-5), 1);
    --semi-color-primary-hover: rgba(var(--semi-blue-6), 1);
    --semi-color-primary-active: rgba(var(--semi-blue-7), 1);
    --semi-color-primary-disabled: rgba(var(--semi-blue-2), 1);
    --semi-color-primary-light-default: rgba(var(--semi-blue-0), 1);
    --semi-color-primary-light-hover: rgba(var(--semi-blue-1), 1);
    --semi-color-primary-light-active: rgba(var(--semi-blue-2), 1);
    --semi-color-focus-border: rgba(var(--semi-blue-5), 1);
    --semi-color-border: rgba(var(--semi-grey-9), .08);
    --semi-color-text-0: rgba(var(--semi-grey-9), 1);
    --semi-color-text-1: rgba(var(--semi-grey-9), .8);
    --semi-color-text-2: rgba(var(--semi-grey-9), .62);
    --semi-color-text-3: rgba(var(--semi-grey-9), .35);
    --semi-hottiem-bg-0: #efeff5;
    --semi-hottiem-bg-1: #ea444d;
    --semi-hottiem-bg-2: #ed702d;
    --semi-hottiem-bg-3: #eead3f;
    --semi-edit-1: #fff;
  }
  
  body {
    background-color: var(--semi-color-bg-0);
  }


@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Thin.de9194d1.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Thin.fcc91246.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ThinItalic.ec0fcc99.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ThinItalic.6b5565d7.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraLight.21843ac6.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraLight.7b7bd05c.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraLightItalic.04abe79a.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraLightItalic.a7a00555.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Light.51f4d175.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Light.c08cfeeb.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-LightItalic.8942ebe8.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-LightItalic.203b9b31.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Regular.6cc68d6b.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Regular.8398b376.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Italic.e2f52803.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Italic.635afeed.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Medium.ba68c34a.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Medium.f5549f68.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-MediumItalic.d29ef50a.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-MediumItalic.2812ec5a.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-SemiBold.625474d6.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-SemiBold.25b1ffc9.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-SemiBoldItalic.c632fb96.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-SemiBoldItalic.80d799be.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Bold.a808c21a.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Bold.1c3dfbb0.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-BoldItalic.97443965.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-BoldItalic.32e2b20f.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraBold.1ca2a2cf.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraBold.30c3d891.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraBoldItalic.a0a103e5.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-ExtraBoldItalic.cd668286.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Black.ef2d12b9.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-Black.e258f998.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-BlackItalic.a1ea21b0.woff2) format("woff2"), url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-BlackItalic.70d2cf35.woff) format("woff")
}

@font-face {
    font-named-instance: "Regular";
    font-display: swap;
    font-family: Inter var;
    font-style: normal;
    font-weight: 100 900;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-roman.var.b65534c5.woff2) format("woff2")
}

@font-face {
    font-named-instance: "Italic";
    font-display: swap;
    font-family: Inter var;
    font-style: italic;
    font-weight: 100 900;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter-italic.var.b27297c1.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Inter var experimental;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    src: url(//lf3-static.semi.design/obj/semi-tos/ies/semi-templates/font/Inter.var.9df5db38.woff2) format("woff2")
}

/* 移动端样式 */
@media screen and (max-width: 768px) {
   
}